<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username">*Username</label>
                    <input type="text" id="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': (form.controls.username.dirty ) &&  form.controls.username.errors }" />
                    <div *ngIf="(form.controls.username.dirty ) && form.controls.username.errors" class="invalid-feedback">
                        <div *ngIf="form.controls.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">*Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid':  (form.controls.password.dirty ) &&  form.controls.password.errors }"  />
                    <div  *ngIf="(form.controls.password.dirty ) && form.controls.password.errors" class="invalid-feedback">
                        <div *ngIf="form.controls.username.errors.required" >Password is required</div>
                    </div>
                   
                </div>
                <div class="form-group">
                   
                    <button [disabled]=" !form.valid" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        <span *ngIf="!loading" class="check mr-1"></span>
                        Login
                    </button>
                    <a routerLink="../register" class="btn btn-link">Register</a>
                   
                </div>
            </form>
        </div>
    </div>
