.footer-parent{
    .footer-parent-fixed{
    position: fixed  ;
    bottom: 0;
    width: 100%;
    
      
    }
    .footer-parent-transape{
        opacity: 0;
    }
    .footer-content{
        padding: 5px;align-items: center;justify-content: center;
        }
}