<div>
    <div style="height:100px;width: 100px;background-color: grey;border-radius: 50px;border-color: darkgray ;border-width: 2px;margin: 0 auto;margin-top:30px;margin-bottom: 30px;"></div>

    <mat-list>
        <mat-list-item *ngFor="let systemTable of systemTables">
          <mat-icon matListIcon>folder</mat-icon>
          <div matLine> {{systemTable.name}} </div>
          <div matLine>
            <span> {{systemTable.id}} </span>
          </div>
          <mat-divider></mat-divider>

        </mat-list-item>

      </mat-list>
</div>